# NODE pkg files  #
###################
project-0-content-creators/node_modules/ 
project-1-rock-paper-scissors-x99/node_modules/ 
project-2-beat-mix/node_modules/ 
project-3-the-scoop/node_modules/ 

project-0-content-creators/npm-debug.log
project-1-rock-paper-scissors-x99/npm-debug.log
project-2-beat-mix/npm-debug.log
project-2-beat-mix/public/js/npm-debug.log
project-2-beat-mix/presets.json
project-3-the-scoop/npm-debug.log
project-3-the-scoop/database.yml
